@model IEnumerable<UniversityApp.Models.Student>

@{
    ViewBag.Title = "Index";
}

<h2>
    @Html.ActionLink("Add Student", "Create",new {},new { @class = "text-success",@style="" })
</h2>
<hr/>
<table class="table">
    <tr>
      
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Department.DepartmentID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address.District)
        </th>
        <th>Actions</th>
       
    </tr>
  
@foreach (var item in Model) {
    <tr>
   
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Department.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address.District)
        </td>
        <td>          
            @Html.ActionLink("Edit", "Edit", new {id = item.StudentID}) |
            @Html.ActionLink("Details", "Details", new {id = item.StudentID}) |
            @Html.ActionLink("Delete", "Delete", new {id = item.StudentID}, new { @class = "text-danger" })
        </td>
    </tr>
}

</table>
